@import "../styles.scss";

.titlebar {
  background-color: trans;
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  .titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 46px;
    svg {
        fill: currentColor;
      stroke: currentColor;

      rect,
      line {
        fill: currentColor;
        stroke: currentColor;
      }
      color: $white;
    }
    &:hover {
      background-color: rgba(132, 132, 132, 0.5);
    }
    &:nth-child(3):hover {
      background-color: #f01424;
    }
    &:active {
        background-color: rgb(52,52,52);
    }
    &:nth-child(3):active {
        background-color: rgb(248,116,124);
        color: black;
    }
  }
}
